* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif!important;
}

.h1_ {
  font-size: 4vw;
  font-weight: 700;
  color: white;
}
.h3_ {
  margin-top: 25px;
  margin-bottom: 10px;
  font-size: 2.5vw;
  font-weight: 600;
}
.h4_ {
  font-size: 1.75vw;
  font-weight: 700;
}
.h5_ {
  font-size: 1.5vw;
  font-weight: 700;
}
.h6_ {
  font-size: 1.25vw;
  font-weight: 700;
}
.blue_ {
  color: #1dacff;
}

.p_ {
  font-size: 1.5vw;
  font-weight: 500;
  color: #c9c4c4;
}
.fix_three p {
  font-size: 1vw;
}
.header_fixed {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 10px 0;
  background-color: white;
  z-index: 3;
  border-bottom: 2px solid #c9c4c4;
}
.logo_ img {
  width: 100%;
}
.links_hf {
  margin-top: 10px;
  margin-bottom: 0px;
}
.links_hf li {
  display: inline-block;
  list-style: none;
  font-size: 0.85vw;
  font-weight: 600;
  margin: 0 5px;
}
.links_hf li a {
  text-decoration: none;
  color: black;
}
.f_r_ {
  float: right;
}
.f_r_ .links_hf {
  margin-top: 5px;
}
.btn_hf {
  background-color: white;
  color: #1dacff;
  border: 2px solid #1dacff;
  font-size: 0.75vw;
  padding: 5px;
  border-radius: 5px;
}
.hamburger ul {
  margin-top: 5px;
  margin-bottom: 0;
}
.hamburger li{
list-style: none;
background-color: #1dacff;
border-radius: 2px;
height: 0.75vh;
margin: 1vh 0;
min-width: 20px;
max-width: 30px;
}
.display_allowed .hamburger {
  display: block;
}
.display_none {
  display: none;
}

.fix_six {
  margin: auto 30px
}
.top_j {
  margin-top: 50px;
  padding: 60px 0;
  background-image: url(../img/bg-home-hero-3-bb4b33b77274db09b969f629ad81c4d5.svg);
  background-size: cover;
}
.sign_up {
  padding: 10px 20px;
  width: 90%;
  margin: 30px auto;
  max-width: 600px;
  background-color: white;
  border-radius: 5px;
}
.button_su_one {
  padding: 2px 0;
  border-radius: 5px;
  background-color: #4682f0;
  box-shadow: 1px 2px grey;
  color: white;
}
.button_su_two {
  margin: 10px 0;
  padding: 2px 0;
  border-radius: 5px;
  text-align: center;
  box-shadow: 1px 2px grey;
}
.button_su_two img {
  width: 10%;
  max-width: 20px;
  float: left;
}
.button_su_two span {
  margin: 0 5% 0 0;
}

.bottom_j {
  background-color: #f8f8f8;
}
.margin_top {
  margin-top: 50px;
}
.margin_bottom {
  margin-bottom: 50px;
}
.logos_ {
  margin: 25px 0;
}
.logos_ [class*="col-"] img {
  width: 100%;
  margin: 25px 0;
}
.link_to_ {
  text-decoration: none;
  color: #1dacff;
  font-size: 1.25vw;
}

.top_section {
  padding: 50px 0;
}
.list_ {
  border-left: 2px solid lightgray;
  margin-bottom: 25px;
}
.fix_ img {
  width: 10%;
  max-width: 35px;
}

.top_cs {
  background-color: #f8f8f8;
}
.fix_two {
  margin: 0 10px;
  font-size: 2vw;
}
.screenshot_ img {
  width: 50%;
}
.gray_ {
  color: gray;
}
.color_ {
  color: #1dacff;
}

.top_bs {
  background: linear-gradient(#6969d3, #1919bc);
  padding: 25px 0;
}
.white_ {
  color: white;
}
.test_speed_line hr {
  margin: 0;
}
.p_tsl_one {
  display: inline-block;
  font-size: 1vw;
  color: white;
  margin-bottom: 5px 0;
}
.p_tsl_two {
  display: inline-block;
  margin-left: 20px;
  color: lightgray;
  font-size: 1vw;
  margin: 5px 20px;
}
.a_tsl {
  float: right;
  font-size: 1vw;
  text-decoration: none;
  color: #1dacff;
  margin: 5px 5px;
}

.bottom_bs {
  background-color: #f8f8f8;
}
.rocker_box {
  display: inline-block;
  background-color: white;
  padding: 50px 0;
}
.rocker_box img {;
  width: 40%;
}
.fix_four {
  margin: 25vh 0;
  font-size: 2vw;
  float: left;
}
.fix_five {
  float: right;
  margin: 25vh 0;
  font-size: 2vw;
}
#p_spec_one {
  font-size: 1vw;
  color: black;
}

.top_footer {
  background: linear-gradient(#6969d3, #1919bc);
  padding: 25px 0;
}
.btn_tf {
  margin: 20px auto;
  background-color: white;
  color: #1dacff;
  font-size: 0.75vw;
  font-weight: 600;
  padding: 10px;
  border-radius: 5px;
  width: 10%;
}

.bottom_footer {
  background-color: darkblue;
  padding: 25px 0;
}
.infos_ img {
  width: 10%;
  max-width: 50px;
}
.infos_ i {
  text-decoration: none;
  color: gray;
  margin: 0 5px;
  font-size: 1.5vw;
}
#p_spec_two {
  font-size: 1.25vw;
  color: gray;
}
.p_f {
  font-size: 0.75vw;
  font-weight: 500;
  color: #c9c4c4;
}

.helper_fixed {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 20%;
  background-color: white;
  border-radius: 5px;
  padding: 5px;
  margin: 30px;
  border: 2px solid #c9c4c4;
}
.helper_fixed p {
  color: darkblue;
  font-size: 1vw;
  font-weight: 600;
}

@media screen and (min-width: 1200px) {

  .display_allowed {
    display: block;
  }

  .hamburger {
    display: none;
  }

  .margin_left {
    margin-left: 50px;
  }

  .margin_media_two {
    margin: 0 25px;
  }
}

@media screen and (max-width: 1199px) {
  .margin_media {
    margin: 50px 0 25px 0;
  }

  .margin_media_three {
    margin-top: 25px;
  }

  .helper_fixed {
    left: 0;
  }

  .rocker_box {
    padding: 10px 0;
  }
}
